name: Update pennylane rc branch version in plug-in test matrix
on:
  workflow_dispatch:
    inputs:
      rc_version:
        description: 'RC version (e.g., 0.43.0)'
        required: true

jobs:
  bump-rc-version:
    runs-on: ubuntu-latest 
    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools jinja2

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PENNYLANE_PTM_WORKFLOWUPDATE }}

      - name: Bump rc version in workflow files
        run: |
          git checkout -b test-bump-rc-version-${{ inputs.rc_version }}
          sed -i -E 's/v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+/v${{ inputs.rc_version }}/' 'workflow-template-release-candidate.yml'
          python compile.py
          sed -i -E 's/v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+/v${{ inputs.rc_version }}/' '.github/workflows/lightning-latest-rc.yml'

      - name: Commit and push changes
        run: |
          git config --global user.email '${{ secrets.AUTO_UPDATE_VERSION_RINGO_EMAIL }}'
          git config --global user.name "ringo-but-quantum"
          git add .github/workflows/ .
          git commit -m "Bump rc version in workflow files" 
          git push --set-upstream origin test-bump-rc-version-${{ inputs.rc_version }}
          gh pr create --title "Bump rc version in workflow files" --body "This PR updates the rc version in the workflow files to ${{ inputs.rc_version }}." #--label "automerge" 
          # gh pr merge --auto 
